.w-150 { width: 150px !important; }
.w-250 { width: 250px !important; }

.SearchBox { padding-bottom: 0px; }
.SearchBody { padding-top: 15px; }
    .SearchBody .control-label { text-align: left; }

@media (max-width: 991px) {
    .SearchBox .input-group { padding-top: 10px; }
}
